!!! 5
%html
  %head
    - if @page_title
      %title= "#{@page_title} - Picty !"
    - else
      %title Picty !
    = javascript_include_tag 'jquery'
    = stylesheet_link_tag 'application'
  %body
    #menu
      .home= link_to('Home', '/')
      = display_menu
      #powered_by= "Gallery Powered by #{link_to('Picty', 'http://github.com/renchap/picty')}"
    #main
      = yield
    
